<div class="container">
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.blog.title %></td>
        <td><%= favorite.blog.content %></td>
      </tr>
    <% end %>
  </table>
</div>