<div class="text-center row">
    <div class="col-lg-8 col-lg-offset-2 centered">
                <div class ="jumbotron" style ="height:450px; color:white;
                background:url(/assets/contact-bg.jpg);  background-size:cover;">
                    <h1>このサイトについて?</h1>
                    <h2>短い日記、ブログを自由にかけます</h2>
                    <h2>それを公開できます</h2>
                    <p>このサイトはユーザー登録をしてログインしてから利用できます
                        まずはじめにユーザー登録を行って下さい</p>
    </div><!-- /col-lg-8 -->
</div>