<div class ="jumbotron text-center"style ="height:300px; color:white; text-shadow: 2px 2px 4px #666; 
 background:url(/assets/about-bg.jpg);  background-size:cover;">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>ブログ投稿アプリ</h1>
            <h2>ここに自由に投稿しよう</h2>
        </div>
    </div>
</div> 