<!DOCTYPE html>
<html>
  <head>
    <title>HerokuTestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"> 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/blogs"><span class="glyphicon glyphicon-home"></span> Index</a>
          </li>
          <li><a href="/blogs/new"><span class="glyphicon glyphicon-pencil"></span> New_Blog</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
   <footer class="container-fluid text-center" style="color:blue;">
    <a href="/">Phase3_Bootstrap  2018 Dive_Into_Code_Student.</a>
  </footer>
    
    </div> 
  </body>
</html>